
body {
    margin: 0;
    padding: 0;
    padding-top: 230px;
}

.autocenter {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 950px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    background-color: #353535;
    color: white;
    border-radius: 10px;
    
}

.icono_titulo {
    margin-top: 0px;   
    padding-top: 5px;
    display: flex;    
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.icono_titulo img {
    margin-top: 5px;
    width: 70px;
}

@media screen and (max-width: 767px) 
{
.autocenter {
    display: flex;
    max-width: auto;
}
.icono_titulo h1 {
    display: none;
}
}