body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    animation: fadeIn 1.5s ease-out;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    width: 100%; /* Asegura que el contenido esté centrado horizontalmente */
}

section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

article {
    margin-bottom: 30px;
    animation: fadeInUp 1.5s ease-out;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    animation: fadeIn 1.5s ease-out;
    border: 5px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
}

img:hover {
    animation: shake 0.5s ease-in-out;
    border-color: #68c3a3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}


.gif-container {
    display: flex;
}

.gif-container img {
    margin: 10px;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px;
    animation: rotate 2s infinite; /* Configura la duración y repetición de la animación */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#video-resumen {
    margin: 20px auto;
    text-align: center;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporción del video (16:9) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#nueva-seccion article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center; /* Alinea el contenido horizontalmente en el centro */
    max-width: 1200px; /* Agregado para limitar el ancho del artículo */
    margin: 20px auto; /* Centra el artículo horizontalmente en la página */
}


.personaje {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    justify-content: center;
    align-content: center;
}

.personaje img {
    max-width: 100%;
    max-height: 100%; /* Asegura que la imagen no exceda el límite del contenedor */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.personaje:hover {
    border-color: #68c3a3;
}

.personaje h3 {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.personaje p {
    font-size: 0.8em;
    color: #666;
}


.tipo-arma {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.arma {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.arma-item {
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.arma-item img {
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}