body {
    margin: 0 auto;
}

.container {
    position: relative;
    height: auto;
    width: 400px;
    margin: auto;
}

.container img {
    width: 100%;
    height: auto;
    margin: auto;
    transition: opacity 0.3s ease;
}

.t,
.t2 {
    right: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;  
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.4s;
    border-radius: 10px;
    transform: translateX(10px); 
    opacity: 0; 
    height: 170%;

}

.t2 {
    left: auto;
    right: -185%;  
}

.container:hover .t,
.container:hover .t2 {
    transform: translateX(-100%); 
    opacity: 1; 
}

.hover-trigger:hover + .t img,
.hover-trigger:hover + .t2 img {
    opacity: 1;
}
